In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\adzsh\anaconda3\lib\site-packages (2.2.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.26.0 in c:\users\adzsh\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\adzsh\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\adzsh\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\adzsh\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\adzsh\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [15]:
import pandas as pd

In [23]:
import pandas as pd
df = pd.read_csv(r'C:\Users\adzsh\OneDrive\Documents\pokemon_data.csv')
print(df.head(3))

   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60
2  3   Venusaur  Grass  Poison  80      82       83      100      100     80

   Generation  Legendary
0           1      False
1           1      False
2           1      False

In [25]:
print(df.info())     # See columns, datatypes, non-null counts
print(df.describe()) # See summary statistics

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB
None
                #          HP      Attack     Defense     Sp. Atk     Sp. Def  \
count  800.000000  800.000000  800.000000  800.000000  800.000000  800.000000
mean   362.813750   69.258750   79.001250   73.842500   72.820000   71.902500
std    208.343798   25.534669   32.457366   31.183501   32.722294   27.828916
min      1.000000    1.000000    5.000000    5.000000   10.000000   20.000000
25%    184.750000   50.000000   55.000000   50.000000   49.750000   50.000000
50%    364.500000   65.000000   75.000000   70.000000   65.000000   70.000000
75%    539.250000   80.000000  100.000000   90.000000   95.000000   90.000000
max    721.000000  255.000000  190.000000  230.000000  194.000000  230.000000

            Speed  Generation
count  800.000000   800.00000
mean    68.277500     3.32375
std     29.060474     1.66129
min      5.000000     1.00000
25%     45.000000     2.00000
50%     65.000000     3.00000
75%     90.000000     5.00000
max    180.000000     6.00000

In [27]:
print(df[['Name', 'Type 1', 'HP']].head())

                    Name Type 1  HP
0              Bulbasaur  Grass  45
1                Ivysaur  Grass  60
2               Venusaur  Grass  80
3  VenusaurMega Venusaur  Grass  80
4             Charmander   Fire  39

In [29]:
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
print(df.head(3))

   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60
2  3   Venusaur  Grass  Poison  80      82       83      100      100     80

   Generation  Legendary  Total
0           1      False    318
1           1      False    405
2           1      False    525

In [31]:
df_sorted = df.sort_values(by='Total', ascending=False)
print(df_sorted[['Name', 'Total']].head(10))

                        Name  Total
426    RayquazaMega Rayquaza    780
164      MewtwoMega Mewtwo Y    780
163      MewtwoMega Mewtwo X    780
422      KyogrePrimal Kyogre    770
424    GroudonPrimal Groudon    770
552                   Arceus    720
712       KyuremWhite Kyurem    700
711       KyuremBlack Kyurem    700
409  SalamenceMega Salamence    700
413  MetagrossMega Metagross    700

In [33]:
high_hp = df[df['HP'] > 100]
print(high_hp[['Name', 'HP']])

                 Name   HP
44         Jigglypuff  115
45         Wigglytuff  140
96                Muk  105
120            Rhydon  105
121           Chansey  250
..                ...  ...
753        Aromatisse  101
769           Aurorus  123
792           Xerneas  126
793           Yveltal  126
794  Zygarde50% Forme  108

[67 rows x 2 columns]

In [35]:
df.to_csv(r'C:\Users\adzsh\OneDrive\Documents\pokemon_data_modified.csv', index=False)